<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/datatables.min.css"/> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/datatables.min.css"/> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/datatables.min.js"></script>
<%= flash[:message] %>

<div class="container">
<br>
<br >
	Nutrigenomics is defined as the science studying the role of nutrients and bioactive food compounds on gene expression. Whereas the 
idea of modulating human health by food intake is a millenial concept, the increasing number of research efforts on this field is pointing 
out that nutrition may exert its impact on health outcomes by directly affecting the expression of genes involved in critical metabolic pathways. 
Nowadays its widely accepted that cellular processes spanning from gene expression to protein synthesis can be regulated by dietary 
compounds. However there is a limited understanding of the underlying molecular mechanisms which are involved. NutriGenomeDB makes use 
of publicly available gene expression data obtained from nutrigenomics experiments in order to bring a the first platform for nutrigenomics 
data exploration.
<br>
<br>
<%= image_tag(asset_path("workflow.jpg"), class:"row-fluid", width:"500", align:"right")%>

<p >
<ul style="list-style-type:square">    
<b>Highlights of NutriGenomeDB platform:</b>  
<br>
<br>
      <li>Gene expression browser module</li>
	This module is based on a set of manually curated differentially expressed genes after treatment with nutrients or 
bioactive food compounds obtained from 231 nutrigenomics experiments. All the experiments are linked to their original source in GEO 
database. For inclusion in NutriGenomeDB, experiments were selected following specific criteria: cell based assays (human cells) from microarray platforms,
experimental design with al least 2 replicates per group. This module can be queried by multiple Gene Symbols to look up for differential gene expression values among nutrigenomic experiments, and the results are linked to the original data source. An interactive Lineplot visualization can be 
obtained, allowing visual exploration of specific genes among NutriGenomeDB experiments.
<br>
<br>
      <li>Phenotype-centered analysis module</li>
	This module allows the direct comparison of an external gene expression profile caracterizing a phenotype with the 
experiments hosted in NutriGenomeDB database. It is based on the well documented GSEA algorithm, and its main purpose is to find 
connections between the introduced gene expression profile and the profiles included in the database for new hypothesis generation. Such a 
connection can be quantified in two ways: the number of overlapping differentially expressed genes, and the enrichment score which informs 
about the direction of such a connection (over or under expressed genes). Finally this  module allows to query Panther database, 
via web-services, in order to obtain the over-represented molecular functions among the identified connecting genes.
<br>
<br>
      <li>Data download and new data submission</li>
	We encourage researchers to provide us with newly generated nutrigenomics data for inclusion in our database.
</ul>
</p>
</div>

