<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/datatables.min.css"/> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/datatables.min.css"/> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/datatables.min.js"></script>
<%= flash[:message] %>

<div class="container">
<br>
<br>
	Nutrigenomics is defined as the science studying the role of nutrients and bioactive food compounds on gene expression. Whereas the idea of modulating human health by food intake is a millenial concept, the increasing number of research efforts on this field is pointing that nutrition may exert its impact on health outcomes by directly affecting expressing on genes in critical metabolic pathways. Nowadays its widely accepted that cellular processes spanning from gene expression to protein synthesis can be regulated by dietary compounds. However there is a limited understanding of the underlying molecular mechanisms which are involved. NutriGenome Miner makes use of publicly available gene expression obtained from nutrigenomics experiments to bring a the first platform for nutrigenomics data mining.
<br>
<br>
<%= image_tag("workflow.jpg", class:"row-fluid", width:"500", align:"right")%>

<p>
<ul style="list-style-type:square">    
<b>Highlights of NutriGenome Miner database:</b>  
<br>
<br>
      <li>Gene expression database</li>
	A list of manually curated differentially expressed genes after treatment with a nutrient or bioactive food compound. Experiments were selected following specific criteria: cell based assays (human cells), experimental design with al least 2 replicates per group. the database contains data from 232 experiments available in GEO database. The database can be query by multiple Gene Symbols to look up for expression values among nutrigenomic experiments.
<br>
<br>
      <li>Analysis module</li>
	Allowing the comparison of exogenous gene expression data with the NutriGenome miner database. These module is based on the GSEA algorithm and allows to find connections between the introduced gene expression profile and profiles included in the database. Such a connection can be quantified in two ways: the number of overlapping differentially expressed genes, and the enrichment score which informs about the direction of such a connection (mostly over or under expressed genes). Finally the analysis module allows to query the Panther database, via web-services, in order to oibtain the over-represented molecular functions among the identified connecting genes.
<br>
<br>
      <li>Data submission</li>
	We encourage researchers to provide us with newly generated nutrigenomics data for inclusion in our database.
</ul>
</p>
</div>

