<div id="ie_warning">
  If you are using 
  <span class="ie">internet explorer</span>
  and this site seems 
  <span>very slow </span>
  you might
  need to try a different browser like
  <a href="http://www.mozilla.com">Firefox</a>
  ,
  <a href="http://www.apple.com/safari/">Safari</a>
  or
  <a href="http://www.google.com/chrome/">Google Chrome</a>
  <script>
    
    if (jQuery.browser.msie){
      $('#ie_warning').show();
    }

  </script>
</div>

